RewriteEngine on
RewriteCond %{HTTP_HOST} ^baanreserverenzonenwind.nl$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.baanreserverenzonenwind.nl$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]