{% extends 'UserLogedin.html.twig' %}

{% block title %} IZEW - DASHBOARD{% endblock %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <h1> welcome to IZEW webpanel!!!</h1>

    <div class="row w-100">
        <div class="card w-100" style="overflow-x: scroll; padding: 50px;">
            <div class="card-body">
                <div class="card-title">
                    <h3 class="text-center">Fill in Account</h3>
                </div>
                <hr>

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
